/*h1{
    color: #f07167;
}

a:link{
    color: #e76f51;
    text-decoration: none;
}
a:visited{
    color: #2a9d8f;
    text-decoration: none;
}
a:hover{
    color: #264653;
    text-decoration: underline;
}
a:active{
    color: #ffafcc;
    text-decoration: underline;
}
*/

h1 {
  color: #560bad;
}
a:link,
a:visited {
  background-color: #b5179e;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active{
    background-color: #f72585;
}